<!-- flaskr/templates/admin/admin_create.html -->

{% extends 'admin/admin_base.html' %}
{% from 'macros.html' import render_csrf_btn, render_pagination, render_flash_message %}

{% block title %}
    {% if request.endpoint == 'web.edit_post' %}
        编辑文章
    {% else %}
        新建文章
    {% endif %}
    - {{ admin.blog_title }}
{% endblock %}

{% block content %}
    <div class="container-lg posts-container">
        <div class="row">
            <div class="col-12">
                <h5 class="card-title">文章编辑</h5>
                <form class="text-left" action="{{ url_for('admin.admin_create', next=request.args.get('next')) }}" method="post">
                    {{ form.csrf_token }}
                    <div class="form-group mb-3 title-input">
                        <label for="title" class="d-none">文章名</label>
                        <input type="text" class="form-control" placeholder="Title" id="title"
                               name="title" value="{{ form.title.data }}">
                    </div>

                    <div class="form-group mb-3">
                        <label for="content" class="d-none">文章内容</label>
                        <textarea class="form-control" rows="16" style="min-width: 90%"
                                  id="content" name="content" placeholder="Content">{{ form.content.data }}</textarea>
                    </div>

                    <input class="btn btn-primary" type="submit" value="提交" id="submitBtn">
                </form>
            </div>
            <div class="card-footer text-muted text-left"></div>
        </div>
    </div>
{% endblock %}