<!DOCTYPE html>

{% extends 'base.html' %}
{% from 'macros.html' import render_post_detail %}

<html lang="en">

{% block meta %}
<meta name="description" content="blog_subtitle">
<meta property="og:type" content="website">
<meta property="og:title" content="Home">
<meta property="og:description" content="blog_subtitle">
{% endblock %}
{% block title %}{{ admin.blog_title }} - {{ admin.blog_subtitle }}{% endblock %}

<body>
{% block content %}
     <article class="post">
        <div class="row justify-content-center">
            {{ render_post_detail(post) }}
        </div>
    </article>
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}

</body>

</html>