<!-- flaskr/templates/blog/detail.html -->

{% extends 'blog/blog_base.html' %}
{% from 'macros.html' import render_post_detail %}

{% block meta %}
<meta name="description" content="blog_subtitle">
<meta property="og:type" content="website">
<meta property="og:title" content="Home">
<meta property="og:description" content="blog_subtitle">
{% endblock %}
{% block title %}{{ admin.blog_title }} - {{ admin.blog_subtitle }}{% endblock %}

{% block content %}
    <div class="container posts-container">
        <div class="row">
            <div class="col-12 header">
                <hr>
            </div>
            {{ render_post_detail(post) }}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/detail.js') }}"></script>
{% endblock %}
