<!-- flaskr/templates/blog/index.html -->

{% extends 'blog/blog_base.html' %}
{% from 'macros.html' import render_index_links, render_post_summary %}

{% block meta %}
    <meta name="description" content="blog_subtitle">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="blog_subtitle">
{% endblock %}

{% block content %}
    <!-- 巨幕开始 -->
    <div class="jumbotron jumbotron-fluid d-flex align-items-center min-vh-100" id="indexJumbotron">
        <div class="container">
            <h1 class="display-2">My Blog</h1>
            <p class="lead col-12">我的flask-Blog应用</p>
            <div class="row justify-content-center">
                <ul class="link-list">
                    {{ render_index_links(links) }}
                </ul>
            </div>
        </div>
    </div>
    <!-- 巨幕结束 -->
    <!-- 文章摘要开始 -->
    <div class="container posts-container">
        <div class="row">
            <div class="col-12 header">
                <hr>
            </div>
            {% for post in posts %}
                {{ render_post_summary(post) }}
            {% endfor %}
        </div>
    </div>
    <!-- 返回页首的按钮 -->
    {{ super() }}
    <!-- 文章摘要结束 -->
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/totop.js') }}"></script>
{% endblock %}
