body {
    background: #f8f8f8;
}

a {
    color: #3498db;
}

a:hover {
    text-decoration: none;
    color: #2980b9;
}

.btn {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    box-shadow: unset;
}

/* 导航栏开始 */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
/* 导航栏结束 */

/* 主题部分风格 */
.posts-container {
    box-shadow: 0 30px 50px 0 rgba(1, 1, 1, .15);
    position: relative;
    top: 100px;
    background: #f8f8f8;
}

.posts-container .header {
    height: 150px;
    position: relative;
    margin-bottom: 4rem;
}

hr {
    width: 40px;
    margin-top: 6rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.post-container {
    margin: 0 auto 4rem auto;
}

/* 文章编辑页面 */
.title-input {
    width: 200px;
}

.content-input {
    height: auto;
}